<div ng-controller="createController">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">Create</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <form role="create">
                <div class="form-group">
                    <input type="text" class="form-control" data-ng-model="createController.name" placeholder="Name">
                    <input type="text" class="form-control" data-ng-model="createController.website" placeholder="Website">
                    <textarea class="form-control" data-ng-model="createController.description" placeholder="Description"></textarea>
                    <input type="text" class="form-control" data-ng-model="createController.address" placeholder="Address">
                    <input type="text" class="form-control" data-ng-model="createController.city" placeholder="City">
                    <input type="text" class="form-control" data-ng-model="createController.state" placeholder="state">
                    <input type="text" class="form-control" data-ng-model="createController.zip" placeholder="zip">
                    <input type="text" class="form-control" data-ng-model="createController.contact_name" placeholder="Contact Name">
                    <input type="text" class="form-control" data-ng-model="createController.contact_phone" placeholder="Contact Phone">
                    <input type="text" class="form-control" data-ng-model="createController.contact_email" placeholder="Contact Email">
                    <input type="text" class="form-control" data-ng-model="createController.volunteers_min" placeholder="Volunteers Min">
                    <input type="text" class="form-control" data-ng-model="createController.volunteers_max" placeholder="Volunteers Max">
                    <input type="text" class="form-control" data-ng-model="createController.img" placeholder="Image url">
                    <input type="text" class="form-control" data-ng-model="createController.start_date" placeholder="Start Date">
                    <input type="text" class="form-control" data-ng-model="createController.end_date" placeholder="End Date">
                </div>
                <button type="submit" data-ng-click="createController.runSearch(createController.searchText)" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
