<div data-ng-controller="eventsPageController" class="container inside">
    <div class="row">
        <div class="navigation">
            <data-global-nav></data-global-nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 page-content">
            <form role="search">
                <input type="text" class="form-control" data-ng-model="eventsPageController.searchText" globalplaceholder="Search">
                <button type="submit" data-ng-click="runSearch(eventsPageController.searchText)" class="btn btn-default">Submit</button>
            </form>

            <h1>Events</h1>
            <ul class="event-listings">
                <li ui-sref='eventsDetail({id: event.id})' ng-repeat="event in events.result" class="col-xs-5 col-sm-5 col-md-5" ng-class-even="'even-listing'" ng-class-odd="'odd-listing'" style="background-image: url({{event.img_url}});">
                    <div class="event-fade">
                        <span class="event-title">
                            {{event.name}}
                        </span>
                        <span class="event-details">
                            {{event.city}}<br>
                            {{event.date}} {{event.time}}
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
