<div class="container inside event-detail-page">
    <div class="row">
        <div class="navigation">
            <data-global-nav></data-global-nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 page-content" ng-controller="eventDetailPageController">
            <div class="event-image" style="background-image: url('{{event.img_url}}');"></div>
            <h1>{{event.name}}</h1>
            <p>{{event.description}}</p>


            <h3>Where?</h3>
            <p>{{event.where.address}},<br>
                {{event.where.location}}</p>
            <iframe src="{{event.map_url}}" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            <h3>When?</h3>
            <p>{{event.when}}</p>
            <h3>Who?</h3>
            <p><strong>{{event.contact.name}}</strong><br>
            {{event.contact.phone}}<br>
            <a ng-href="mailto:{{event.contact.email}}">{{event.contact.email}}</a></p>

            <h3>Sign Up For This Event</h3>
            <form class="sign-up-now-form">
                <p><input type="text" placeholder="Name:" id="register-name"></p>
                <p><input type="email" placeholder="Email:" id="register-email"></p>
                <p><input type="tel" placeholder="Phone number:" id="register-phone"></p>
                <p><button type="submit" id="submit" value="Submit" class="btn btn-primary">CREAT ACCOUNT</button></p>
            </form>
        </div>
    </div>
</div>



