<div class="container inside my-account">
    <div class="row">
        <div class="navigation">
            <data-global-nav></data-global-nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 page-content">

            <h1>My Account</h1>

            <div class="my-account">
                <div class="my-account--info">
                    <div class="my-account--image">
                        <img src="/img/AccountPic_large.png" width="119" height="119" />
                    </div>
                    <div class="my-account--details">
                        <h3>Allison R</h3>
                        <p>Joined November, 3 2015</p>
                    </div>
                </div>


                <div class="my-account--reward-total">
                    Current Points: 75
                    <p><img src="/img/halfFullGlass_withBurst.png" width="351" height="187"></p>
                </div>

                <h3 class="my-account-section">Total Points: 475</h3>
                <p><img src="/img/fullLemonadeGlass.png" width="55" height="70"/> <img src="/img/fullLemonadeGlass.png" width="55" height="70"/></p>

                <h3 class="my-account-section">Past Events & Donations</h3>

                <ul class="event-listings">
                    <li>
                        <span class="event-title">
                            O'connoroo Volunteers
                        </span>
                        <span class="event-details">
                            Norfolk<br>
                            11/23 10:00
                        </span>
                    </li>
                    <li>
                        <span class="event-title">
                           Adopt a Highway
                        </span>
                        <span class="event-details">
                            Chesapeake<br>
                            10/12 8:00
                        </span>
                    </li>
                    <li>
                        <span class="event-title">
                            ODU Food Drive
                        </span>
                        <span class="event-details">
                            Norfolk<br>
                            10/1 9:00
                        </span>
                    </li>
                </ul>

                <h3 class="my-account-section">Most Recent Activity</h3>

                <ul class="event-listings">
                    <li>
                        <span class="event-title">
                            O'connoroo Volunteers
                        </span>
                        <span class="event-details">
                            Norfolk<br>
                            11/23 10:00
                        </span>
                    </li>
                </ul>

                <p><button class="btn btn-primary btn-large log-out" ui-sref="root">Log Out</button></p>
            </div>
        </div>
    </div>
</div>
