<div class="container inside">
    <div class="row">
        <div class="navigation">
            <data-global-nav></data-global-nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 page-content register">
            <h1>Register</h1>

            <p>Register to join the loyalty program to start earning points towards winning fun prizes.</p>
            <p class="register-even">Points are earned for each event you volunteer for or anytinme you donate!</p>
            <p>Not only will you begin earning points but you'll be notified about new events too!</p>
            <p class="register-even">Can't you just hear the points adding up now?</p>
            <p>Every 200 points takes you to the next level to earn cool stuff like cool swag gift cards and movie passes.</p>

            <div class="register-cta">
                <div class="register-cta--top">
                    JUST FOR SIGNING UP, YOU WILL AUTOMATICALLY EARN 100 POINTS!<br>
                    <span class="woot-wording">WOOT!</span>
                </div>
                <div class="register-cta--bottom">
                    <div class="register-cta--bottom-left">
                        VOLUNTEERING?<br>that`s 75 Points!
                    </div>
                    <div class="register-cta--bottom-right">
                        DONATING?<br>that`s 25 points!
                    </div>
                </div>
            </div>

            <h2 class="register-now-title">Register Now!</h2>
            <form class="register-now-form">
                <p><input type="text" placeholder="Name:" id="register-name"></p>
                <p><input type="email" placeholder="Email:" id="register-email"></p>
                <p><input type="tel" placeholder="Phone number:" id="register-phone"></p>
                <p><button type="submit" id="submit" value="Submit" class="btn btn-primary">CREATE ACCOUNT</button></p>
            </form>
        </div>
    </div>
</div>
