// Colours
$blue: #009FCF;
$darkerBlue: #2e6cb5;
$darkYellow: #e9d518;
$lightYellow: #fff100;
$grey: #404041;

// Font sizes
$font-size-small: 10px;
$font-size-default: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 18px;
$font-size-2xlarge: 20px;