// Colours
$white: #fff;
$blue: #009FCF;
$darkerBlue: #2e6cb5;
$darkYellow: #e9d518;
$lightYellow: #fff100;
$grey: #404041;
$darkGrey: #333;
$black: #000;

// Font sizes
$font-size-small: 10px;
$font-size-default: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-xlarge: 18px;
$font-size-2xlarge: 20px;
$font-size-3xlarge: 22px;
$font-size-4xlarge: 24px;
$font-size-5xlarge: 26px;
$font-size-6xlarge: 28px;
$font-size-7xlarge: 30px;

// Tools
@mixin clearfix ($both: true) {
	@if $both {
		&::before,
		&::after {
			content: "";	
			display: table;
			clear:both;
		}
	} 
	@else {
		&::after{
			content: "";	
			display: table;
			clear:both;
		}
	}
}