@import "defaults";

body {
	font-family: 'Dosis', sans-serif;
	font-size: $font-size-default;
}

h1 {
	text-transform: uppercase;
	color: $darkYellow;
	font-weight: 800;
	margin: 10px auto;
	padding: 10px 0;
    display: table;
}

form[role="search"] {
	margin-top: 20px;
}

.col-xs-5, .col-sm-5, .col-md-5 {
	width: 48%;
}
.container {
	&.inside {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	&>.row {
		margin-left: 0;
		margin-right: 0;
	}

	&.home {
		.row {
			margin-left: -15px;
			margin-right: -15px;		
		}
	}
}

.navbar-default, .logo {
	position: fixed;
	z-index: 10;
}


.navigation {
	height: 110px;
	background-color: $blue;
	position: fixed;
	z-index: 5;
	width: 100%;

	.navbar-default {
		margin: 0;
		box-sizing: border-box;
		width: 100%;
		background-color: transparent;
		border-width: 0;

		.navbar-toggle {
			background-color: #fff;
			padding: 5px;
		}
	}

	.navbar-collapse {
		z-index: 5;
		background-color: $white;
		border-bottom: 1px solid $blue;
		margin-top: 60px;
	}

	.navbar-brand {
		padding: 8px 10px;
	}
}

.page-content {
	margin-top: 110px;
	margin-bottom: 50px;

	.form-control {
		width: 80%;
		display: inline;

		& + .btn {
			margin-top: -5px;
		}
	}
}

// Registration Page
.register {
	color: $darkerBlue;
	font-size: $font-size-large;

	.register-even {
		color: $blue;
	}

	.register-cta {
		background-color: $darkerBlue;
		color: $darkYellow;
		text-align: center;
		font-size: $font-size-3xlarge;

		.woot-wording {
			color: $blue;
			font-size: 80px;
			line-height: 1em;
		}

		.register-cta--top {
			padding: 8px;

		}
		.register-cta--bottom {
			@include clearfix($both: false);
			background-color: $darkYellow;
			color: $darkerBlue;
			padding: 5px;

			.register-cta--bottom-left, .register-cta--bottom-right {
				width: 50%;
				text-align: center;
				float:left;
			}

		}
	}

	.register-now-title {
		font-size: 50px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .1em;
		text-align: center;
	}
}

.register-now-form, .sign-up-now-form {
	input, button {
		width: 100%;
		outline: 0;
		padding: 5px;
	}
	input {
		border: 2px solid $blue;
	}
}

// Donate Page
.donateItem {
    background: black;
    height: 160px;
    width: 47%;
    margin: 4px;
}
.donate-clothes {
  background-image: url('/img/ShirtIcon.png');
  background-size: contain;
  background-color: $blue;
  background-repeat: no-repeat;
}

.donate-blood {
  background-image: url('/img/BloodIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $darkYellow;
}

.donate-money {
  background-image: url('/img/DollarIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $blue;
}

.donate-food {
  background-image: url('/img/AppleIcon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $darkYellow;
}
.logo {
	background-color: $blue;
	box-sizing: border-box;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);

	img {
		margin: 20px;
	}
	.tagline {
		padding: 5px;
		background-color: $darkYellow;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 1px;
		text-align: center;
	}

	.navigation & {
		// Logos on the inside are smaller and top of the page
		img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 7px;
			margin: 13px 0 0 0;
		}
	}	
}

.home-donate {
	background-image: url('/img/LandingPage_left.png');
}
.home-events {
	background-image: url('/img/LandingPage_right.png');
}

.home-donate, .home-events {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	vertical-align: bottom;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	position: relative;

	&:before{
		content: '';
	    height: 100%;
	    vertical-align: bottom;
	    display: inline-block;
	    margin-bottom: -60%;
	}

	.btn {
		bottom: 0;
		padding-left: 50px;
		padding-right: 50px;
	}
}

.event-listings, .donate-category {
	padding: 0;
	margin: 0;
	list-style-type: none;
    margin: 0 10px 8px 10px;


	li {
		padding: 10px;
		margin: 0 5px 5px 0;
		min-height: 180px;
		font-size: $font-size-6xlarge;
		font-weight: 800;
		color: $darkYellow;
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 -15px;

		.event-fade {
			background-color: rgba(0,0,0,0.5);
			@include clearfix;
			padding: 10px;
			margin: -10px;
			min-height: 124px;
		}


		&.odd-listing {
			background-color: $blue;

			.event-details {
				color: $lightYellow;
			}
		}
		&.even-listing {
			background-color: $darkYellow;
			
			.event-details {
				color: $darkerBlue;
			}
		}

		img {
			max-width: 100%;
		}

		.event-title, .donation-category {
			line-height: 1.2em;
		}

		.event-details, .donation-details {
			font-size: $font-size-xlarge;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 5px;
			font-weight: 400;
			text-align: center;
			width: 100%;

			&:before {
				@include clearfix();
			}
		}
	}
}

.event-detail-page {
	font-size: $font-size-large;

	.event-image {
		height: 250px;
		background-position: top center;
		background-size: cover;
		margin-right: -15px;
		margin-left: -15px;
	}
}

.footer {
	text-transform: uppercase;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	-moz-box-shadow: inset $black 0 -1px;
	-webkit-box-shadow: inset $black 0 -1px;
	box-shadow: inset $black 0 -1px;

	button {
		font-weight: 400;
		font-size: $font-size-medium;
		color: $white;
		background-color: $black;
		width: 50%;
		float: left;
		border: 0;
		border-right: 1px solid $black;
		border-left: 1px solid $darkGrey;
		text-align: center;
		vertical-align: middle;
		height: 50px;
		text-transform: uppercase;
		outline: 0;

		&:first-of-type {
			border-left-width: 0;
		}
		&:last-of-type {
			border-right-width: 0;
		}
	}

	img {
		margin: -5px 5px 0 0;
	}

	&:after {
		@include clearfix();
	}
}

.my-account {
	.my-account--info {
		@include clearfix();
		margin-bottom: 20px;

		.my-account--image, .my-account--details {
			float: left;
			vertical-align: top;
			padding: 0;
		}
		
		.my-account--image {
			margin-right: 10px;
		}

		.my-account--details {
			font-size: $font-size-xlarge;

			h3 {
				font-size: $font-size-6xlarge;
				color: $darkerBlue;
				margin: 0;
			}	
		}
	}

	.my-account--reward-total {
		font-size: $font-size-xlarge;
		color: $darkerBlue;
		text-align: center;

		img {
			margin-top: 10px;
		}
	}

	.my-account-section {
		background-color: $darkerBlue;
		color: $white;
		font-size: $font-size-large;
		padding: 8px;
	}

	.event-listings {
		@include clearfix();

		li {
			width: 100px;
			max-height: 100px;
			min-height: 100px;
			background-color: $blue;
			font-size: $font-size-medium;
			float: left;
			text-align: center;
			
			.event-title {
				font-weight: 400;
			}

			.event-details {
				color: $white;
				font-size: $font-size-default;
				bottom: 10px;
			}
		}
	}

	button.log-out {
		width: 100%;
	}
}

// media queries for smaller mobiles, etc
@media screen and (min-width: 480px) {
	.page-content {
		.form-control {
			width: 80%;
		}
	}

	.navbar-default .navbar-nav>li>a {
		color: $white;
	}

	.navigation {
		margin: 0;
		width: 100%;

		.navbar-default {
			background-color: transparent;

			.navbar-toggle {
				background-color: transparent;
			}
		}

		.navbar-collapse {
			float: right;
			background-color: transparent;
			margin-top: 0;

			a {
				color: $darkerBlue;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.page-content {
		.form-control {
			width: 76%;
		}
	}

	.event-listings {

		li {
			font-size: $font-size-4xlarge;
		}
	}


	.navigation {
		height: 70px;

		.navbar-collapse {
			margin-top: 20px;
		}
		.logo  img {
			width: 200px;
			height: 55px;
			margin: 0 0 0 -10px;
		}
	}

	.page-content {
		margin-top: 70px;
	}

	.footer {
		button {
			height: 46px;
			font-size: $font-size-medium;
		}
	}
}