@import "defaults";

body {
	font-family: 'Dosis', sans-serif;
	font-size: $font-size-default;
}

.navbar-default, .logo {
	position: fixed;
	z-index: 10;
}

.navbar-default {
	margin: 0;
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	background-color: transparent;
	border-width: 0;

	.navbar-toggle {
		background-color: #fff;
	}
}
.logo {
	background-color: $blue;
	box-sizing: border-box;
	margin: 0 auto;

	img {
		margin: 20px;
	}
	.tagline {
		padding: 5px;
		background-color: $darkYellow;
		text-transform: uppercase;
		font-weight: 800;
	}
}

.home-donate, .home-events {
	height: 100%;
	background-image: url('/img/lemons.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	vertical-align: bottom;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	position: relative;

	&:before{
		content: '';
	    height: 100%;
	    vertical-align: bottom;
	    display: inline-block;
	    margin-bottom: -50%;
	}

	.btn {
		// bottom: 15%;
		// left: 15%;
		bottom: 0;
		padding-left: 50px;
		padding-right: 50px;
	}
}
